@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  background-color: black;
  background-image: url('images/A4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
  list-style-position: inside;
  margin: 50px;
  margin-top: 90px;
}
body {
    color: white;
    font-family: 'Poppins';
  }

  #topnav{
    background:#1c1c1a;
    padding:1vw;
    width:98vw;
    position:fixed;
    top:-10vh;
    left:0;
    z-index:100;
  }
  #topnav{
    top:0;
  }
  #topnav a{
    color:#e8ddc0;
    text-decoration:none;
    padding:0 1.5vw;
  }
  #topnav a:hover, #topnav .active{
    color:#fff;
    font-size:1.2em;
  }	
  #topnav a:nth-child(odd) {
    padding-top:1.5vh;
  }
  a {
    text-decoration: none;
    transition: 0.2s ease-out;
  }
  @media screen and (max-width: 1000px) {
    #topnav a, #topnav a:hover, #topnav .active {
      font-size:0.8em;
    }
  }
