@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background-image: url('images/Untitled Design.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  list-style-position: inside;
  margin: 30px;
}
body {
    color: white;
    font-family: 'Poppins';
  }
  body {
    background-color:black;
  }
a {
    color: rgb(8, 173, 202);
}
